<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<description>spring事务处理</description>
	
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- 使用annotation定义事务 -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" /> -->
	
	<!-- 使用aop配置申明式事务 -->
	<aop:config proxy-target-class="true">  
        <aop:pointcut id="serviceTx"  
            expression="(execution(* com.jschrj.service.*.*.*(..)))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceTx" />  
    </aop:config>  
   
    <tx:advice id="txAdvice" transaction-manager="transactionManager">  
        <tx:attributes>  
        	<!-- 复杂业务的事务命名：如一个事务中含多个业务处理 -->
            <tx:method name="tx_*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />   
            <tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />    
            <tx:method name="insert*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />  
            <tx:method name="remove*" propagation="REQUIRED" read-only="false"  rollback-for="java.lang.Exception"/>  
            <tx:method name="delete*" propagation="REQUIRED" read-only="false"  rollback-for="java.lang.Exception"/>    
            <tx:method name="update*" propagation="REQUIRED" read-only="false"  rollback-for="java.lang.Exception"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true" /> 
            <tx:method name="select*" propagation="SUPPORTS" read-only="true" /> 
        </tx:attributes>  
    </tx:advice>  
    
</beans>